@import url("https://fonts.googleapis.com/css?family=Exo+2:700");
* {
  margin: 0 auto;
  padding: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 994px) {
  .square {
    height: 40px !important;
    width: 40px !important;
    border: 1px dashed white;
    margin: 0 20px !important;
    /*   padding: 1px; resize squares */
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    transform: rotateZ(44deg);
  }
  .social_icons {
    margin-top: 30px !important;
  }
  .square .icons {
    margin: 10px 0px 0px 10px !important;
  }
  .detailItem {
    width: 100% !important;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 0 !important;
    padding: 10px 10px !important;
    min-height: 120px !important;

    float: left;
  }
  .detailsDiv {
    height: 750px !important;
  }
}
.bodyContainer {
  height: auto !important;
  margin: 0 0 50px !important;
}
.detailsDiv {
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
}
.detailItem {
  width: 18%;
  min-height: 200px;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.2);
  float: left;
  color: white;
  padding: 20px 0;
}
.detailItem p {
  margin-top: 10px;
}
.detailItemIcon {
  color: goldenrod;
}
.social_icons {
  margin-top: 30px !important;
}
.bodyClass {
  background: url("https://image.ibb.co/mJ9tLa/image.png");
  background-color: #212121;
  height: 100vh !important;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  text-align: center;
  overflow: scroll;
}

.bodyClass h1 {
  color: whitesmoke;
  font-family: "Exo 2", sans-serif;
  font-size: 46px;
  font-weight: 900;
  text-transform: uppercase;
}

.bodyClass article p {
  max-width: 700px;
  /* min-height: 200px; */
  padding: 0 5px !important;
  color: whitesmoke;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.square {
  height: 60px;
  width: 60px;
  border: 1px dashed white;
  margin: 0 0 0 55px;
  /*   padding: 1px; resize squares */
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  transform: rotateZ(44deg);
}

.square:hover {
  background-color: rgba(27, 182, 239, 0.2);
  transition: ease 0.2s;
  cursor: pointer;
}

.square .icons {
  position: absolute;
  transform: rotateZ(-44deg);
  margin: 20px 0 0px 21px;
}

.fa-facebook,
.fa-twitter,
.fa-dribbbler,
.fa-youtube,
.fa-dribbble {
  width: 11px;
  height: 22px;
  color: white;
  font-family: FontAwesome;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}

.square:hover .fa-facebook {
  color: rgba(59, 89, 152, 1);
}

.square:hover .fa-twitter {
  color: rgba(27, 182, 239, 1);
}

.square:hover .fa-dribbble {
  color: rgba(199, 59, 111, 1);
}

.square:hover .fa-youtube {
  color: rgba(229, 45, 39, 1);
}
.logo {
  margin: 1em;
  position: fixed;
  bottom: -72px;
  z-index: 99999999999;
  right: 0;
}
svg {
}
.pen {
  fill: black;
  animation: rotateInDownLeft 3s forwards;
}
.all {
  animation: rotateOut 3s forwards;
}
@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    transform: ;
    transform: translateX(850px) translateY(-83px) rotate3d(0, 0, 1, -60deg);
    opacity: 1;
  }
}
@keyframes rotateOut {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 1;
  }
}
